<h1>
    About
</h1>
<p>
    This is a small webapp created by <a href="http://twitter.com/webpapaya">Thomas Mayrhofer (webpapaya)</a>. This was my first project using the angularJS MVC Framework.
    The cool feature of this app is, that all the data is stored directly on your mobile device (using HTML5 localStorage).
    NSA and other secret services can't spot your friends debts, because no data is sent through the internet.
    There are some downsides about localStorage. Because nothing is sent through HTTP or any other protocol it is not possible to sync the data between different devices and browsers.
</p>

<h2>This App uses:</h2>
<ul>
    <li><a href="#">angularJS</a></li>
    <li><a href="#">foundation css</a></li>
    <li><a href="#">modernizr</a></li>
</ul>